<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll Simulator</title>
</head>
<body>
    <div style="position: absolute;margin-left:20%; margin-top:3%; margin-bottom:2%; padding: 1%; width: 50%; height: auto;border: 3px solid blue">
     <h1>Poll Simulator</h1> <br>
     <h2 style="margin-bottom: 5px;">
     <a style=" background-color:white; text-decoration: none;" href="/addCandidates"><u>Add Candidates</u></a> </h2>
        <h2>  <a style="border:white; text-decoration: none;" href="/vote"><u>Vote</u></a> </h2>
           <h2>    <a style=" background-color:white; text-decoration: none;" href="/pollresult"><u>Poll Result</u></a></h2> 
                <h2>   <a style=" background-color:white; text-decoration: none;" href="/votingsummary"><u>Voting Summary</u></h2></a>
     </div>
</body>
</html>