<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll Simulator</title>
</head>
<body>
    <div style="position: absolute;margin-left:20%; margin-top:3%; margin-bottom:2%; padding: 1%; width: 50%; height: auto;border: 3px solid blue">
     <h1>Poll Simulator</h1> 
     <h2>Poll Result</h2>
     Won : {{ress.[0].name}} ({{ress.[0].votes}}) <br><br>
     Lost : {{ress.[1].name}} ({{ress.[1].votes}})
       <h2>  <a style="border: 1px solid blue; background-color:white; text-decoration: none;" href="/">Goto HomePage</a> </h2>
     </div>
<br />
     
</body>
</html>