<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"content="width=device-width, initial-scale=1.0">
    <title>Poll Simulator</title>
</head>
<body>
    <div style="position: absolute;margin-left:20%; margin-top:3%; margin-bottom:2%; padding: 1%; width: 50%; height: auto;border: 3px solid blue">
     <h1>Poll Simulator</h1> 
     <h2>Poll Summary</h2>
     {{#each cans}}
       <p>{{this.name}}:   {{this.votes}}</p>
     {{/each}}
       <h2>  <a style="background-color:white; text-decoration: none;" href="/"><u>HomePage</u> </a> </h2>
     </div>
   
</body>
</html>